<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login - Medical Image Server</title>
    <link rel="stylesheet" href="{{url_for('static', path='/css/login.css')}}">
</head>
<body>
    <h1>Medical Image Server</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
    <script src="{{url_for('static', path='/js/main.js')}}"></script>
</body>
</html>